#container {
  display: block;
  margin: auto;
  margin-top: 40px;
  max-width: 400px;
  padding: 50px;
  border-radius: 10px;
  border: none;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}
body {
  background-color: #f9f7fe;
}
header {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding: 7px;
  background-color: transparent;
}
h2 {
  font-size: 23px;
  font-family: sans-serif;
}
footer {
  padding-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border-bottom: none;
}
.time {
  font-size: 27px;
  font-weight: bold;
  margin-top: 15px;
}
.time strong {
  font-size: 12px;
  vertical-align: middle;
}
.date {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
  font-family: sans-serif;
}
a {
  color: blueviolet;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 13px;
}
